<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- form article -->
    <form action="/quotes" method="post">
        <input type="text" placeholder="articles" name="articles">
        <input type="text" placeholder="comments" name="comments">
        <button type="submit">Submit</button>
    </form>

    <h1>Title</h1>
    <% for(var i = 0; i < comments.length; i++) {%>
        <li class="comments">
            <%= comments[i].article %>
            <%= comments[i].comments %>
        </li>
    <% } %>    
</body>
</html>