<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Articles</h1>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="articles" name="articles" />
        <input type="text" placeholder="comments" name="comments" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>